<!DOCTYPE html>
<html>
<head>
	<title>Coutner</title>
</head>
<body>
	<h1>Counter</h1>
	<h3><%=visit %> Times</h3>
<a href="/addtwo"><button>Add two</button></a>
<a href="/clear"><button>clear</button></a>
</body>
</html>